/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
/* rest css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.black-bg{
    background: #222;
}
.white-text{
    color: #fff;
}
.pt-70{
    padding-top: 70px;
}
.pb-70{
    padding-bottom: 70px;
}


.fix{
    overflow: hidden;
}

.row{
    margin: 0 -15px;
}

.col-3{
    width: 25%;
    float: left;
    padding: 0 15px;
}
.col-4{
    width: 33.33%;
    float: left;
    padding: 0 15px;
}
.col-6{
    width: 50%;
    float: left;
    padding: 0 15px;
}
.col-8{
    width: 66.66%;
    float: left;
    padding: 0 15px;
}
.col-12{
    width: 100%;
    float: left;
    padding: 0 15px;
}




body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
/* header */
.header-area {
	border-top: 5px solid #4272d7;
    min-height: 120px;
}
.container{
    width: 1170px;
    margin: auto;
}
.logo {
	float: left;
    margin-top: 36px;
}
.search-icon {
	float: right;
	margin-top: 50px;
	margin-left: 25px;
    padding-left: 25px;
    position: relative;
}
.search-icon::before{
    content: "";
    background: #cccccc;
    width: 2px;
    height: 15px;
    left: 0;
    top: 3px;
    position: absolute;
}
/* menu */
.main-menu {
	float: right;
}
.main-menu ul li {
	display: inline-block;
    margin-left: 40px;
    position: relative;
}
.main-menu ul li a {
	color: #666;
    display: block;
	text-decoration: none;
	font-size: 15px;
	padding: 50px 0;
    transition: .3s;
}
.main-menu ul li:hover > a{
    color: #4272d7;
}
/* drop-down-menu */
.main-menu ul li ul.submenu {
	position: absolute;
	background: #171a21;
    border-top: 5px solid #4272d7;
	width: 260px;
	top: 110%;
	left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 999;
}
.main-menu ul li:hover ul.submenu{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.main-menu ul li ul.submenu li{
    border-bottom: 2px solid #1e2128;
    margin: 0;
    display: block;
}
.main-menu ul li ul.submenu li a {
	color: #fff;
	padding: 15px 20px;
	font-size: 13px;
    transition: .3s;
}
.main-menu ul li ul.submenu li:hover > a{
    background: #4272d7;
    padding-left: 30px;
}
.main-menu ul li ul.submenu li ul.submenu{
    left: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.main-menu ul li ul.submenu li:hover ul.submenu{
    opacity: 1;
    visibility: visible;
}

/* slider area */
.slider-area{
    width: 100%;
    overflow: hidden;
}
.single-slider{
    text-align: center;
    width: 100%;
    padding: 175px 0;
    background-size: cover;
}
.single-slider h4{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.single-slider h2{
    color: #fff;
    font-size: 72px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.single-slider a {
	background: #4272d7;
	text-decoration: none;
	color: #fff;
	padding: 20px 40px;
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
}

 .owl-nav button i{
    color: #fff;
    background: #3d3d3d;
	height: 40px;
	width: 40px;
    text-align: center;
	line-height: 40px; 
}
.owl-nav button {
	position: absolute;
	left: 50px;
	top: 50%;
	
    
}
.owl-nav button.owl-next{
	right: 50px;
	left: auto;
}

.owl-dots {
	text-align: center;
	margin-top: -24px;
	z-index: 9;
	position: relative;
	bottom: 40px;
}
.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
  }
.owl-dots button.owl-dot.active {
    background-color: #4272d7;
  }
.owl-dots button.owl-dot:focus {
    outline: none;
  }

  /* cta area */

  .cta-area {
	padding: 30px 0;
	background: #4272d7;
}
.cta-text{}
.cta-text p {
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	margin-top: 8px;
}
.cta-text p span{
    font-size: 30px;
}
.cta-button {
    text-align: right;
}
.cta-button a {
	border: 2px solid #fff;
	padding: 17px 40px;
	display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

/* features area */

.features-area{
    padding: 70px 0;
}
.single-features{
    position: relative;
    overflow: hidden;
}
.single-features:hover .features-content{
    transform: translateY(0);
    opacity: .9;
}
.features-img{}
.features-content {
	position: absolute;
	top: 0;
	left: 0;
	background: #507bd6;
	bottom: 0;
	padding: 30px;
	transition: .3s;
	transform: translateY(66%);
}

.features-icon {
	margin-bottom: 30px;
}
.features-icon i {
	font-size: 30px;
	color: #fff;
	display: inline-block;
}
.features-icon h3{
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
}
.features-content p {
	color: #e5e5e5;
	line-height: 25px;
}
.features-content a {
	color: #fff;
	margin-top: 20px;
	display: inline-block;
	text-decoration: none;
}

/* services-area */
.services-area{
    background: #f0f0f0;
    padding: 70px 0;
    padding-bottom: 20px;
}
.section-title {
	text-align: center;
	margin-bottom: 80px;
    
}
.section-title h2{
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.section-title h2::before{
    background: #adadad;
    content: "";
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    width: 35%;
}
.single-service{
    display: flex;
    margin-bottom: 50px;
}
.service-icon{}
.service-icon i {
	background: #4272d7;
	height: 50px;
	width: 50px;
	font-size: 26px;
	color: #fff;
	text-align: center;
	line-height: 50px;
}
.service-content{
    padding-left: 15px;
}
.service-content h3 {
	font-weight: 700;
	color: #555555;
	margin-bottom: 15px;
}
.service-content p{
    font-size: 15px;
    color: #666666;
    line-height: 25PX;
}

/* start project area */
.project-wrapper{
    position: relative;
}
.project-img{
    position: relative;
}
.project-img::before{
    background: #507bd6;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    transition: .3s;
    opacity: 0;
}
.project-wrapper:hover .project-img::before{
    opacity: 1;
}
.project-img > img{
    width: 100%;
}
.project-content {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	right: 0;
	text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.project-wrapper:hover .project-content{
    opacity: 1;
    visibility: visible;
}
.project-content h4 a {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	padding-bottom: 20px;
	display: inline-block;
}
.project-content span{
    color: #cccccc;
}


/* video area */

.video{
    position: relative;
}

.video > a{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 55px;
    width: 55px;
    color: #fff;
    font-size: 50px;
}
.chose-list {
	margin-bottom: 30px;
	padding-left: 10px;
}
.chose-list{}
.chose-list p{
    color: #666;
    line-height: 23px;
}
.chose-title{
    margin-bottom: 20px;
}
.chose-title i{
    color: #555;
    font-size: 18px;
    display: inline-block;
}
.chose-title h3{
    display: inline-block;
    padding-left: 15px;
    font-size: 16px;
    color: #555;
}