/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
/* rest css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.fix{
    overflow: hidden;
}
body{
    font-family: 'Lato', sans-serif;
}
/* header */
.header-area {
	border-top: 5px solid #4272d7;
    min-height: 120px;
}
.container{
    width: 1170px;
    margin: auto;
}
.logo {
	float: left;
    margin-top: 36px;
}
.search-icon {
	float: right;
	margin-top: 50px;
	margin-left: 25px;
    padding-left: 25px;
    position: relative;
}
.search-icon::before{
    content: "";
    background: #cccccc;
    width: 2px;
    height: 15px;
    left: 0;
    top: 3px;
    position: absolute;
}
/* menu */
.main-menu {
	float: right;
}
.main-menu ul li {
	display: inline-block;
    margin-left: 40px;
    position: relative;
}
.main-menu ul li a {
	color: #666;
    display: block;
	text-decoration: none;
	font-size: 15px;
	padding: 50px 0;
    transition: .3s;
}
.main-menu ul li:hover > a{
    color: #4272d7;
}
/* drop-down-menu */
.main-menu ul li ul.submenu {
	position: absolute;
	background: #171a21;
    border-top: 5px solid #4272d7;
	width: 260px;
	top: 110%;
	left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.main-menu ul li:hover ul.submenu{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.main-menu ul li ul.submenu li{
    border-bottom: 2px solid #1e2128;
    margin: 0;
    display: block;
}
.main-menu ul li ul.submenu li a {
	color: #fff;
	padding: 15px 20px;
	font-size: 13px;
    transition: .3s;
}
.main-menu ul li ul.submenu li:hover > a{
    background: #4272d7;
    padding-left: 30px;
}
.main-menu ul li ul.submenu li ul.submenu{
    left: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.main-menu ul li ul.submenu li:hover ul.submenu{
    opacity: 1;
    visibility: visible;
}

/* slider area */
.slider-area{
    width: 100%;
    overflow: hidden;
}
.single-slider{
    text-align: center;
    width: 100%;
    padding: 175px 0;
    background-size: cover;
}
.single-slider h4{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}
.single-slider h2{
    color: #fff;
    font-size: 72px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.single-slider a {
	background: #4272d7;
	text-decoration: none;
	color: #fff;
	padding: 20px 40px;
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
}

 .owl-nav button i{
    color: #fff;
    background: #3d3d3d;
	height: 40px;
	width: 40px;
    text-align: center;
	line-height: 40px; 
}
.owl-nav button {
	position: absolute;
	left: 50px;
	top: 50%;
	
    
}
.owl-nav button.owl-next{
	right: 50px;
	left: auto;
}

.owl-dots {
	text-align: center;
	margin-top: -20px;
	z-index: 999;
	position: relative;
	bottom: 40px;
}
.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
  }
.owl-dots button.owl-dot.active {
    background-color: #4272d7;
  }
.owl-dots button.owl-dot:focus {
    outline: none;
  }